html * {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif !important;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.leftDiv {
  width: 50%;
  height: 100vh;
  float: left;
}

.rightDiv {
  width: 50%;
  height: 100vh;
  float: right;
}

@media screen and (max-width: 800px) {
  .leftDiv {
    width: 100%;
    height: auto;
  }

  .rightDiv {
    width: 100%;
  }
}
