.menubar {
    height: 60px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding-top: 5px;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid whitesmoke;
}

.menuOption {
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
    font-weight: bolder;
    font-size: large;
}

.menuOption:hover {
    cursor: pointer;
    text-decoration: underline;
}

a, a:link, a:visited,  a:hover, a:active
{
    color: #000000;
    text-decoration: none;
}
